---
layout: default
---
<!-- Delete everything in this .container and get started on your own site! -->
<div class="sixteen columns">
    <h3>Learning how to do all the jQuery things without jQuery!</h3>

    <p>Our purpose is to educate people that understand jQuery and want to learn Plain Old Javascript!</p>

    <p>Lets provide code examples of how to do all-things-jQuery, <strong>without jQuery</strong>.</p>
    <section class="active">
        <h2>jQuery Methods with Javascript Code Examples!</h2>
        {% for page in site.pages %}
        {% if page.status == "active" %}
        <div>
            <a href="{{page.url}}" title="{{page.title}}">{{page.method}}</a>
            <span> - </span>
            <span>{{page.description}}</span>
        </div>
        {% endif %}   <!-- page.status -->
        {% endfor %}  <!-- site.pages -->
    </section>
    <section class="inactive">
        <h2>Methods that are Missing Definitions!</h2>
        {% for page in site.pages %}
        {% if page.status == "inactive" %}
        <div>
            <a href="{{page.url}}" title="{{page.title}}">{{page.method}}</a>
            <span> - </span>
            <span>{{page.description}}</span>
        </div>
        {% endif %}   <!-- page.status -->
        {% endfor %}  <!-- site.pages -->
    </section>
</div>
