---
layout: default
---
<!-- Delete everything in this .container and get started on your own site! -->
<div class="sixteen columns">
	<h3>Learning how to do all the jQuery things without jQuery!</h3>
	<p>Our purpose is to educate people that understand jQuery and want to learn Plain Old Javascript!</p>
	<p>Lets provide code examples of how to do all-things-jQuery, <strong>without jQuery</strong>.</p>
	<section>
		{% include a.html %}
		{% include b.html %}
		{% include c.html %}
		{% include d.html %}
		{% include e.html %}
		{% include f.html %}
		<div><a href="/docs/get.html" title="Permalink to .get()" rel="bookmark">.get()</a> - <span>Retrieve the DOM elements matched by the jQuery object.</span></div>


		<div><a href="/docs/gt-selector.html" title="Permalink to :gt() Selector" rel="bookmark">:gt() Selector</a> - <span>Select all elements at an index greater than index within the matched set.</span></div>


		<div><a href="/docs/has.html" title="Permalink to .has()" rel="bookmark">.has()</a> - <span>Reduce the set of matched elements to those that have a descendant that matches the selector or DOM element.</span></div>


		<div><a href="/docs/has-attribute-selector.html" title="Permalink to Has Attribute Selector [name]" rel="bookmark">Has Attribute Selector [name]</a> - <span>Selects elements that have the specified attribute, with any value.</span></div>


		<div><a href="/docs/has-selector.html" title="Permalink to :has() Selector" rel="bookmark">:has() Selector</a> - <span>Selects elements which contain at least one element that matches the specified selector.</span></div>


		<div><a href="/docs/hasClass.html" title="Permalink to .hasClass()" rel="bookmark">.hasClass()</a> - <span>Determine whether any of the matched elements are assigned the given class.</span></div>


		<div><a href="/docs/header-selector.html" title="Permalink to :header Selector" rel="bookmark">:header Selector</a> - <span>Selects all elements that are headers, like h1, h2, h3 and so on.</span></div>


		<div><a href="/docs/height.html" title="Permalink to .height()" rel="bookmark">.height()</a> - <span>Get the current computed height for the first element in the set of matched elements or set the height of every matched element.</span></div>


		<div><a href="/docs/hidden-selector.html" title="Permalink to :hidden Selector" rel="bookmark">:hidden Selector</a> - <span>Selects all elements that are hidden.</span></div>


		<div><a href="/docs/hide.html" title="Permalink to .hide()" rel="bookmark">.hide()</a> - <span>Hide the matched elements.</span></div>


		<div><a href="/docs/hover.html" title="Permalink to .hover()" rel="bookmark">.hover()</a> - <span>Bind one or two handlers to the matched elements, to be executed when the mouse pointer enters and leaves the elements.</span></div>


		<div><a href="/docs/html.html" title="Permalink to .html()" rel="bookmark">.html()</a> - <span>Get the HTML contents of the first element in the set of matched elements or set the HTML contents of every matched element.</span></div>


		<div><a href="/docs/id-selector.html" title="Permalink to ID Selector (“#id”)" rel="bookmark">ID Selector (“#id”)</a> - <span>Selects a single element with the given id attribute.</span></div>


		<div><a href="/docs/image-selector.html" title="Permalink to :image Selector" rel="bookmark">:image Selector</a> - <span>Selects all elements of type image.</span></div>


		<div><a href="/docs/index.html" title="Permalink to .index()" rel="bookmark">.index()</a> - <span>Search for a given element from among the matched elements.</span></div>


		<div><a href="/docs/innerHeight.html" title="Permalink to .innerHeight()" rel="bookmark">.innerHeight()</a> - <span>Get the current computed height for the first element in the set of matched elements, including padding but not border.</span></div>


		<div><a href="/docs/innerWidth.html" title="Permalink to .innerWidth()" rel="bookmark">.innerWidth()</a> - <span>Get the current computed inner width (including padding but not border) for the first element in the set of matched elements or set the inner width of every matched element.</span></div>


		<div><a href="/docs/input-selector.html" title="Permalink to :input Selector" rel="bookmark">:input Selector</a> - <span>Selects all input, textarea, select and button elements.</span></div>


		<div><a href="/docs/insertAfter.html" title="Permalink to .insertAfter()" rel="bookmark">.insertAfter()</a> - <span>Insert every element in the set of matched elements after the target.</span></div>


		<div><a href="/docs/insertBefore.html" title="Permalink to .insertBefore()" rel="bookmark">.insertBefore()</a> - <span>Insert every element in the set of matched elements before the target.</span></div>


		<div><a href="/docs/is.html" title="Permalink to .is()" rel="bookmark">.is()</a> - <span>Check the current matched set of elements against a selector, element, or jQuery object and return true if at least one of these elements matches the given arguments.</span></div>


		<div><a href="/docs/jQuery.html" title="Permalink to jQuery()" rel="bookmark">jQuery()</a> - <span>Return a collection of matched elements either found in the DOM based on passed argument(s) or created by passing an HTML string.</span></div>


		<div><a href="/docs/jquery-2.html" title="Permalink to .jquery" rel="bookmark">.jquery</a> - <span>A string containing the jQuery version number.</span></div>


		<div><a href="/docs/jQuery.ajax.html" title="Permalink to jQuery.ajax()" rel="bookmark">jQuery.ajax()</a> - <span>Perform an asynchronous HTTP (Ajax) request.</span></div>


		<div><a href="/docs/jQuery.ajaxPrefilter.html" title="Permalink to jQuery.ajaxPrefilter()" rel="bookmark">jQuery.ajaxPrefilter()</a> - <span>Handle custom Ajax options or modify existing options before each request is sent and before they are processed by $.ajax().</span></div>


		<div><a href="/docs/jQuery.ajaxSetup.html" title="Permalink to jQuery.ajaxSetup()" rel="bookmark">jQuery.ajaxSetup()</a> - <span>Set default values for future Ajax requests. Its use is not recommended.</span></div>


		<div><a href="/docs/jQuery.ajaxTransport.html" title="Permalink to jQuery.ajaxTransport()" rel="bookmark">jQuery.ajaxTransport()</a> - <span>Creates an object that handles the actual transmission of Ajax data.</span></div>


		<div><a href="/docs/jQuery.boxModel.html" title="Permalink to jQuery.boxModel" rel="bookmark">jQuery.boxModel</a> - <span>States if the current page, in the user’s browser, is being rendered using the W3C CSS Box Model. This property was removed in jQuery 1.8. Please try to use feature detection instead.</span></div>


		<div><a href="/docs/jQuery.browser.html" title="Permalink to jQuery.browser" rel="bookmark">jQuery.browser</a> - <span>Contains flags for the useragent, read from navigator.userAgent. This property was removed in jQuery 1.9 and is available only through the jQuery.migrate plugin. Please try to use feature detection instead.</span></div>


		<div><a href="/docs/jQuery.Callbacks.html" title="Permalink to jQuery.Callbacks()" rel="bookmark">jQuery.Callbacks()</a> - <span>A multi-purpose callbacks list object that provides a powerful way to manage callback lists.</span></div>


		<div><a href="/docs/jQuery.contains.html" title="Permalink to jQuery.contains()" rel="bookmark">jQuery.contains()</a> - <span>Check to see if a DOM element is a descendant of another DOM element.</span></div>


		<div><a href="/docs/jQuery.cssHooks.html" title="Permalink to jQuery.cssHooks" rel="bookmark">jQuery.cssHooks</a> - <span>Hook directly into jQuery to override how particular CSS properties are retrieved or set, normalize CSS property naming, or create custom properties.</span></div>


		<div><a href="/docs/jQuery.data.html" title="Permalink to jQuery.data()" rel="bookmark">jQuery.data()</a> - <span>Store arbitrary data associated with the specified element and/or return the value that was set.</span></div>


		<div><a href="/docs/jQuery.Deferred.html" title="Permalink to jQuery.Deferred()" rel="bookmark">jQuery.Deferred()</a> - <span>A constructor function that returns a chainable utility object with methods to register multiple callbacks into callback queues, invoke callback queues, and relay the success or failure state of any synchronous or asynchronous function.</span></div>


		<div><a href="/docs/jQuery.dequeue.html" title="Permalink to jQuery.dequeue()" rel="bookmark">jQuery.dequeue()</a> - <span>Execute the next function on the queue for the matched element.</span></div>


		<div><a href="/docs/jQuery.each.html" title="Permalink to jQuery.each()" rel="bookmark">jQuery.each()</a> - <span>A generic iterator function, which can be used to seamlessly iterate over both objects and arrays. Arrays and array-like objects with a length property (such as a function’s arguments object) are iterated by numeric index, from 0 to length-1. Other objects are iterated via their named properties.</span></div>


		<div><a href="/docs/jQuery.error.html" title="Permalink to jQuery.error()" rel="bookmark">jQuery.error()</a> - <span>Takes a string and throws an exception containing it.</span></div>


		<div><a href="/docs/jQuery.extend.html" title="Permalink to jQuery.extend()" rel="bookmark">jQuery.extend()</a> - <span>Merge the contents of two or more objects together into the first object.</span></div>


		<div><a href="/docs/jQuery.fn.extend.html" title="Permalink to jQuery.fn.extend()" rel="bookmark">jQuery.fn.extend()</a> - <span>Merge the contents of an object onto the jQuery prototype to provide new jQuery instance methods.</span></div>


		<div><a href="/docs/jQuery.fx.interval.html" title="Permalink to jQuery.fx.interval" rel="bookmark">jQuery.fx.interval</a> - <span>The rate (in milliseconds) at which animations fire.</span></div>


		<div><a href="/docs/jQuery.fx.off.html" title="Permalink to jQuery.fx.off" rel="bookmark">jQuery.fx.off</a> - <span>Globally disable all animations.</span></div>


		<div><a href="/docs/jQuery.get.html" title="Permalink to jQuery.get()" rel="bookmark">jQuery.get()</a> - <span>Load data from the server using a HTTP GET request.</span></div>


		<div><a href="/docs/jQuery.getJSON.html" title="Permalink to jQuery.getJSON()" rel="bookmark">jQuery.getJSON()</a> - <span>Load JSON-encoded data from the server using a GET HTTP request.</span></div>


		<div><a href="/docs/jQuery.getScript.html" title="Permalink to jQuery.getScript()" rel="bookmark">jQuery.getScript()</a> - <span>Load a JavaScript file from the server using a GET HTTP request, then execute it.</span></div>


		<div><a href="/docs/jQuery.globalEval.html" title="Permalink to jQuery.globalEval()" rel="bookmark">jQuery.globalEval()</a> - <span>Execute some JavaScript code globally.</span></div>


		<div><a href="/docs/jQuery.grep.html" title="Permalink to jQuery.grep()" rel="bookmark">jQuery.grep()</a> - <span>Finds the elements of an array which satisfy a filter function. The original array is not affected.</span></div>


		<div><a href="/docs/jQuery.hasData.html" title="Permalink to jQuery.hasData()" rel="bookmark">jQuery.hasData()</a> - <span>Determine whether an element has any jQuery data associated with it.</span></div>


		<div><a href="/docs/jQuery.holdReady.html" title="Permalink to jQuery.holdReady()" rel="bookmark">jQuery.holdReady()</a> - <span>Holds or releases the execution of jQuery’s ready event.</span></div>


		<div><a href="/docs/jQuery.inArray.html" title="Permalink to jQuery.inArray()" rel="bookmark">jQuery.inArray()</a> - <span>Search for a specified value within an array and return its index (or -1 if not found).</span></div>


		<div><a href="/docs/jQuery.isArray.html" title="Permalink to jQuery.isArray()" rel="bookmark">jQuery.isArray()</a> - <span>Determine whether the argument is an array.</span></div>


		<div><a href="/docs/jQuery.isEmptyObject.html" title="Permalink to jQuery.isEmptyObject()" rel="bookmark">jQuery.isEmptyObject()</a> - <span>Check to see if an object is empty (contains no enumerable properties).</span></div>


		<div><a href="/docs/jQuery.isFunction.html" title="Permalink to jQuery.isFunction()" rel="bookmark">jQuery.isFunction()</a> - <span>Determine if the argument passed is a Javascript function object.</span></div>


		<div><a href="/docs/jQuery.isNumeric.html" title="Permalink to jQuery.isNumeric()" rel="bookmark">jQuery.isNumeric()</a> - <span>Determines whether its argument is a number.</span></div>


		<div><a href="/docs/jQuery.isPlainObject.html" title="Permalink to jQuery.isPlainObject()" rel="bookmark">jQuery.isPlainObject()</a> - <span>Check to see if an object is a plain object (created using “{}” or “new Object”).</span></div>


		<div><a href="/docs/jQuery.isWindow.html" title="Permalink to jQuery.isWindow()" rel="bookmark">jQuery.isWindow()</a> - <span>Determine whether the argument is a window.</span></div>


		<div><a href="/docs/jQuery.isXMLDoc.html" title="Permalink to jQuery.isXMLDoc()" rel="bookmark">jQuery.isXMLDoc()</a> - <span>Check to see if a DOM node is within an XML document (or is an XML document).</span></div>


		<div><a href="/docs/jQuery.makeArray.html" title="Permalink to jQuery.makeArray()" rel="bookmark">jQuery.makeArray()</a> - <span>Convert an array-like object into a true JavaScript array.</span></div>


		<div><a href="/docs/jQuery.map.html" title="Permalink to jQuery.map()" rel="bookmark">jQuery.map()</a> - <span>Translate all items in an array or object to new array of items.</span></div>


		<div><a href="/docs/jQuery.merge.html" title="Permalink to jQuery.merge()" rel="bookmark">jQuery.merge()</a> - <span>Merge the contents of two arrays together into the first array.</span></div>


		<div><a href="/docs/jQuery.noConflict.html" title="Permalink to jQuery.noConflict()" rel="bookmark">jQuery.noConflict()</a> - <span>Relinquish jQuery’s control of the $ variable.</span></div>


		<div><a href="/docs/jQuery.noop.html" title="Permalink to jQuery.noop()" rel="bookmark">jQuery.noop()</a> - <span>An empty function.</span></div>


		<div><a href="/docs/jQuery.now.html" title="Permalink to jQuery.now()" rel="bookmark">jQuery.now()</a> - <span>Return a number representing the current time.</span></div>


		<div><a href="/docs/jQuery.param.html" title="Permalink to jQuery.param()" rel="bookmark">jQuery.param()</a> - <span>Create a serialized representation of an array or object, suitable for use in a URL query string or Ajax request.</span></div>


		<div><a href="/docs/jQuery.parseHTML.html" title="Permalink to jQuery.parseHTML()" rel="bookmark">jQuery.parseHTML()</a> - <span>Parses a string into an array of DOM nodes.</span></div>


		<div><a href="/docs/jQuery.parseJSON.html" title="Permalink to jQuery.parseJSON()" rel="bookmark">jQuery.parseJSON()</a> - <span>Takes a well-formed JSON string and returns the resulting JavaScript object.</span></div>


		<div><a href="/docs/jQuery.parseXML.html" title="Permalink to jQuery.parseXML()" rel="bookmark">jQuery.parseXML()</a> - <span>Parses a string into an XML document.</span></div>


		<div><a href="/docs/jQuery.post.html" title="Permalink to jQuery.post()" rel="bookmark">jQuery.post()</a> - <span>Load data from the server using a HTTP POST request.</span></div>


		<div><a href="/docs/jQuery.proxy.html" title="Permalink to jQuery.proxy()" rel="bookmark">jQuery.proxy()</a> - <span>Takes a function and returns a new one that will always have a particular context.</span></div>


		<div><a href="/docs/jQuery.queue.html" title="Permalink to jQuery.queue()" rel="bookmark">jQuery.queue()</a> - <span>Show or manipulate the queue of functions to be executed on the matched element.</span></div>


		<div><a href="/docs/jQuery.removeData.html" title="Permalink to jQuery.removeData()" rel="bookmark">jQuery.removeData()</a> - <span>Remove a previously-stored piece of data.</span></div>


		<div><a href="/docs/jQuery.sub.html" title="Permalink to jQuery.sub()" rel="bookmark">jQuery.sub()</a> - <span>Creates a new copy of jQuery whose properties and methods can be modified without affecting the original jQuery object.</span></div>


		<div><a href="/docs/jQuery.support.html" title="Permalink to jQuery.support" rel="bookmark">jQuery.support</a> - <span>A collection of properties that represent the presence of different browser features or bugs. Intended for jQuery’s internal use; specific properties may be removed when they are no longer needed internally to improve page startup performance. For your own project’s feature-detection needs, we strongly recommend the use of an external library such as Modernizr instead of dependency on properties in jQuery.support.</span></div>


		<div><a href="/docs/jQuery.trim.html" title="Permalink to jQuery.trim()" rel="bookmark">jQuery.trim()</a> - <span>Remove the whitespace from the beginning and end of a string.</span></div>


		<div><a href="/docs/jQuery.type.html" title="Permalink to jQuery.type()" rel="bookmark">jQuery.type()</a> - <span>Determine the internal JavaScript [[Class]] of an object.</span></div>


		<div><a href="/docs/jQuery.unique.html" title="Permalink to jQuery.unique()" rel="bookmark">jQuery.unique()</a> - <span>Sorts an array of DOM elements, in place, with the duplicates removed. Note that this only works on arrays of DOM elements, not strings or numbers.</span></div>


		<div><a href="/docs/jQuery.when.html" title="Permalink to jQuery.when()" rel="bookmark">jQuery.when()</a> - <span>Provides a way to execute callback functions based on one or more objects, usually Deferred objects that represent asynchronous events.</span></div>


		<div><a href="/docs/keydown.html" title="Permalink to .keydown()" rel="bookmark">.keydown()</a> - <span>Bind an event handler to the “keydown” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/keypress.html" title="Permalink to .keypress()" rel="bookmark">.keypress()</a> - <span>Bind an event handler to the “keypress” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/keyup.html" title="Permalink to .keyup()" rel="bookmark">.keyup()</a> - <span>Bind an event handler to the “keyup” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/lang-selector.html" title="Permalink to :lang() Selector" rel="bookmark">:lang() Selector</a> - <span>Selects all elements of the specified language.</span></div>


		<div><a href="/docs/last.html" title="Permalink to .last()" rel="bookmark">.last()</a> - <span>Reduce the set of matched elements to the final one in the set.</span></div>


		<div><a href="/docs/last-child-selector.html" title="Permalink to :last-child Selector" rel="bookmark">:last-child Selector</a> - <span>Selects all elements that are the last child of their parent.</span></div>


		<div><a href="/docs/last-of-type-selector.html" title="Permalink to :last-of-type Selector" rel="bookmark">:last-of-type Selector</a> - <span>Selects all elements that are the last among siblings of the same element name.</span></div>


		<div><a href="/docs/last-selector.html" title="Permalink to :last Selector" rel="bookmark">:last Selector</a> - <span>Selects the last matched element.</span></div>


		<div><a href="/docs/length.html" title="Permalink to .length" rel="bookmark">.length</a> - <span>The number of elements in the jQuery object.</span></div>


		<div><a href="/docs/live.html" title="Permalink to .live()" rel="bookmark">.live()</a> - <span>Attach an event handler for all elements which match the current selector, now and in the future.</span></div>


		<div><a href="/docs/load.html" title="Permalink to .load()" rel="bookmark">.load()</a> - <span>Load data from the server and place the returned HTML into the matched element.</span></div>


		<div><a href="/docs/load-event.html" title="Permalink to .load()" rel="bookmark">.load()</a> - <span>Bind an event handler to the “load” JavaScript event.</span></div>


		<div><a href="/docs/lt-selector.html" title="Permalink to :lt() Selector" rel="bookmark">:lt() Selector</a> - <span>Select all elements at an index less than index within the matched set.</span></div>


		<div><a href="/docs/map.html" title="Permalink to .map()" rel="bookmark">.map()</a> - <span>Pass each element in the current matched set through a function, producing a new jQuery object containing the return values.</span></div>


		<div><a href="/docs/mousedown.html" title="Permalink to .mousedown()" rel="bookmark">.mousedown()</a> - <span>Bind an event handler to the “mousedown” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/mouseenter.html" title="Permalink to .mouseenter()" rel="bookmark">.mouseenter()</a> - <span>Bind an event handler to be fired when the mouse enters an element, or trigger that handler on an element.</span></div>


		<div><a href="/docs/mouseleave.html" title="Permalink to .mouseleave()" rel="bookmark">.mouseleave()</a> - <span>Bind an event handler to be fired when the mouse leaves an element, or trigger that handler on an element.</span></div>


		<div><a href="/docs/mousemove.html" title="Permalink to .mousemove()" rel="bookmark">.mousemove()</a> - <span>Bind an event handler to the “mousemove” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/mouseout.html" title="Permalink to .mouseout()" rel="bookmark">.mouseout()</a> - <span>Bind an event handler to the “mouseout” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/mouseover.html" title="Permalink to .mouseover()" rel="bookmark">.mouseover()</a> - <span>Bind an event handler to the “mouseover” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/mouseup.html" title="Permalink to .mouseup()" rel="bookmark">.mouseup()</a> - <span>Bind an event handler to the “mouseup” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/multiple-attribute-selector.html" title="Permalink to Multiple Attribute Selector [name=&quot;value&quot;][name2=&quot;value2&quot;]" rel="bookmark">Multiple Attribute Selector [name="value"][name2="value2"]</a> - <span>Matches elements that match all of the specified attribute filters.</span></div>


		<div><a href="/docs/multiple-selector.html" title="Permalink to Multiple Selector (“selector1, selector2, selectorN”)" rel="bookmark">Multiple Selector (“selector1, selector2, selectorN”)</a> - <span>Selects the combined results of all the specified selectors.</span></div>


		<div><a href="/docs/next.html" title="Permalink to .next()" rel="bookmark">.next()</a> - <span>Get the immediately following sibling of each element in the set of matched elements. If a selector is provided, it retrieves the next sibling only if it matches that selector.</span></div>


		<div><a href="/docs/next-adjacent-Selector.html" title="Permalink to Next Adjacent Selector (“prev + next”)" rel="bookmark">Next Adjacent Selector (“prev + next”)</a> - <span>Selects all next elements matching “next” that are immediately preceded by a sibling “prev”.</span></div>


		<div><a href="/docs/next-siblings-selector.html" title="Permalink to Next Siblings Selector (“prev ~ siblings”)" rel="bookmark">Next Siblings Selector (“prev ~ siblings”)</a> - <span>Selects all sibling elements that follow after the “prev” element, have the same parent, and match the filtering “siblings” selector.</span></div>


		<div><a href="/docs/nextAll.html" title="Permalink to .nextAll()" rel="bookmark">.nextAll()</a> - <span>Get all following siblings of each element in the set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/nextUntil.html" title="Permalink to .nextUntil()" rel="bookmark">.nextUntil()</a> - <span>Get all following siblings of each element up to but not including the element matched by the selector, DOM node, or jQuery object passed.</span></div>


		<div><a href="/docs/not.html" title="Permalink to .not()" rel="bookmark">.not()</a> - <span>Remove elements from the set of matched elements.</span></div>


		<div><a href="/docs/not-selector.html" title="Permalink to :not() Selector" rel="bookmark">:not() Selector</a> - <span>Selects all elements that do not match the given selector.</span></div>


		<div><a href="/docs/nth-child-selector.html" title="Permalink to :nth-child() Selector" rel="bookmark">:nth-child() Selector</a> - <span>Selects all elements that are the nth-child of their parent.</span></div>


		<div><a href="/docs/nth-last-child-selector.html" title="Permalink to :nth-last-child() Selector" rel="bookmark">:nth-last-child() Selector</a> - <span>Selects all elements that are the nth-child of their parent, counting from the last element to the first.</span></div>


		<div><a href="/docs/nth-last-of-type-selector.html" title="Permalink to :nth-last-of-type() Selector" rel="bookmark">:nth-last-of-type() Selector</a> - <span>Selects all elements that are the nth-child of their parent, counting from the last element to the first.</span></div>


		<div><a href="/docs/nth-of-type-selector.html" title="Permalink to :nth-of-type() Selector" rel="bookmark">:nth-of-type() Selector</a> - <span>Selects all elements that are the nth child of their parent in relation to siblings with the same element name.</span></div>


		<div><a href="/docs/odd-selector.html" title="Permalink to :odd Selector" rel="bookmark">:odd Selector</a> - <span>Selects odd elements, zero-indexed.  See also even.</span></div>


		<div><a href="/docs/off.html" title="Permalink to .off()" rel="bookmark">.off()</a> - <span>Remove an event handler.</span></div>


		<div><a href="/docs/offset.html" title="Permalink to .offset()" rel="bookmark">.offset()</a> - <span>Get the current coordinates of the first element, or set the coordinates of every element, in the set of matched elements, relative to the document.</span></div>


		<div><a href="/docs/offsetParent.html" title="Permalink to .offsetParent()" rel="bookmark">.offsetParent()</a> - <span>Get the closest ancestor element that is positioned.</span></div>


		<div><a href="/docs/on.html" title="Permalink to .on()" rel="bookmark">.on()</a> - <span>Attach an event handler function for one or more events to the selected elements.</span></div>


		<div><a href="/docs/one.html" title="Permalink to .one()" rel="bookmark">.one()</a> - <span>Attach a handler to an event for the elements. The handler is executed at most once per element per event type.</span></div>


		<div><a href="/docs/only-child-selector.html" title="Permalink to :only-child Selector" rel="bookmark">:only-child Selector</a> - <span>Selects all elements that are the only child of their parent.</span></div>


		<div><a href="/docs/only-of-type-selector.html" title="Permalink to :only-of-type Selector" rel="bookmark">:only-of-type Selector</a> - <span>Selects all elements that have no siblings with the same element name.</span></div>


		<div><a href="/docs/outerHeight.html" title="Permalink to .outerHeight()" rel="bookmark">.outerHeight()</a> - <span>Get the current computed height for the first element in the set of matched elements, including padding, border, and optionally margin. Returns a number (without “px”) representation of the value or null if called on an empty set of elements.</span></div>


		<div><a href="/docs/outerWidth.html" title="Permalink to .outerWidth()" rel="bookmark">.outerWidth()</a> - <span>Get the current computed width for the first element in the set of matched elements, including padding and border.</span></div>


		<div><a href="/docs/parent.html" title="Permalink to .parent()" rel="bookmark">.parent()</a> - <span>Get the parent of each element in the current set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/parent-selector.html" title="Permalink to :parent Selector" rel="bookmark">:parent Selector</a> - <span>Select all elements that have at least one child node (either an element or text).</span></div>


		<div><a href="/docs/parents.html" title="Permalink to .parents()" rel="bookmark">.parents()</a> - <span>Get the ancestors of each element in the current set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/parentsUntil.html" title="Permalink to .parentsUntil()" rel="bookmark">.parentsUntil()</a> - <span>Get the ancestors of each element in the current set of matched elements, up to but not including the element matched by the selector, DOM node, or jQuery object.</span></div>


		<div><a href="/docs/password-selector.html" title="Permalink to :password Selector" rel="bookmark">:password Selector</a> - <span>Selects all elements of type password.</span></div>


		<div><a href="/docs/position.html" title="Permalink to .position()" rel="bookmark">.position()</a> - <span>Get the current coordinates of the first element in the set of matched elements, relative to the offset parent.</span></div>


		<div><a href="/docs/prepend.html" title="Permalink to .prepend()" rel="bookmark">.prepend()</a> - <span>Insert content, specified by the parameter, to the beginning of each element in the set of matched elements.</span></div>


		<div><a href="/docs/prependTo.html" title="Permalink to .prependTo()" rel="bookmark">.prependTo()</a> - <span>Insert every element in the set of matched elements to the beginning of the target.</span></div>


		<div><a href="/docs/prev.html" title="Permalink to .prev()" rel="bookmark">.prev()</a> - <span>Get the immediately preceding sibling of each element in the set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/prevAll.html" title="Permalink to .prevAll()" rel="bookmark">.prevAll()</a> - <span>Get all preceding siblings of each element in the set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/prevUntil.html" title="Permalink to .prevUntil()" rel="bookmark">.prevUntil()</a> - <span>Get all preceding siblings of each element up to but not including the element matched by the selector, DOM node, or jQuery object.</span></div>


		<div><a href="/docs/promise.html" title="Permalink to .promise()" rel="bookmark">.promise()</a> - <span>Return a Promise object to observe when all actions of a certain type bound to the collection, queued or not, have finished.</span></div>


		<div><a href="/docs/prop.html" title="Permalink to .prop()" rel="bookmark">.prop()</a> - <span>Get the value of a property for the first element in the set of matched elements or set one or more properties for every matched element.</span></div>


		<div><a href="/docs/pushStack.html" title="Permalink to .pushStack()" rel="bookmark">.pushStack()</a> - <span>Add a collection of DOM elements onto the jQuery stack.</span></div>


		<div><a href="/docs/queue.html" title="Permalink to .queue()" rel="bookmark">.queue()</a> - <span>Show or manipulate the queue of functions to be executed on the matched elements.</span></div>


		<div><a href="/docs/radio-selector.html" title="Permalink to :radio Selector" rel="bookmark">:radio Selector</a> - <span>Selects all  elements of type radio.</span></div>


		<div><a href="/docs/ready.html" title="Permalink to .ready()" rel="bookmark">.ready()</a> - <span>Specify a function to execute when the DOM is fully loaded.</span></div>


		<div><a href="/docs/remove.html" title="Permalink to .remove()" rel="bookmark">.remove()</a> - <span>Remove the set of matched elements from the DOM.</span></div>


		<div><a href="/docs/removeAttr.html" title="Permalink to .removeAttr()" rel="bookmark">.removeAttr()</a> - <span>Remove an attribute from each element in the set of matched elements.</span></div>


		<div><a href="/docs/removeClass.html" title="Permalink to .removeClass()" rel="bookmark">.removeClass()</a> - <span>Remove a single class, multiple classes, or all classes from each element in the set of matched elements.</span></div>


		<div><a href="/docs/removeData.html" title="Permalink to .removeData()" rel="bookmark">.removeData()</a> - <span>Remove a previously-stored piece of data.</span></div>


		<div><a href="/docs/removeProp.html" title="Permalink to .removeProp()" rel="bookmark">.removeProp()</a> - <span>Remove a property for the set of matched elements.</span></div>


		<div><a href="/docs/replaceAll.html" title="Permalink to .replaceAll()" rel="bookmark">.replaceAll()</a> - <span>Replace each target element with the set of matched elements.</span></div>


		<div><a href="/docs/replaceWith.html" title="Permalink to .replaceWith()" rel="bookmark">.replaceWith()</a> - <span>Replace each element in the set of matched elements with the provided new content and return the set of elements that was removed.</span></div>


		<div><a href="/docs/reset-selector.html" title="Permalink to :reset Selector" rel="bookmark">:reset Selector</a> - <span>Selects all elements of type reset.</span></div>


		<div><a href="/docs/resize.html" title="Permalink to .resize()" rel="bookmark">.resize()</a> - <span>Bind an event handler to the “resize” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/root-selector.html" title="Permalink to :root Selector" rel="bookmark">:root Selector</a> - <span>Selects the element that is the root of the document.</span></div>


		<div><a href="/docs/scroll.html" title="Permalink to .scroll()" rel="bookmark">.scroll()</a> - <span>Bind an event handler to the “scroll” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/scrollLeft.html" title="Permalink to .scrollLeft()" rel="bookmark">.scrollLeft()</a> - <span>Get the current horizontal position of the scroll bar for the first element in the set of matched elements or set the horizontal position of the scroll bar for every matched element.</span></div>


		<div><a href="/docs/scrollTop.html" title="Permalink to .scrollTop()" rel="bookmark">.scrollTop()</a> - <span>Get the current vertical position of the scroll bar for the first element in the set of matched elements or set the vertical position of the scroll bar for every matched element.</span></div>


		<div><a href="/docs/select.html" title="Permalink to .select()" rel="bookmark">.select()</a> - <span>Bind an event handler to the “select” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/selected-selector.html" title="Permalink to :selected Selector" rel="bookmark">:selected Selector</a> - <span>Selects all elements that are selected.</span></div>


		<div><a href="/docs/selector.html" title="Permalink to .selector" rel="bookmark">.selector</a> - <span>A selector representing selector passed to jQuery(), if any, when creating the original set.</span></div>


		<div><a href="/docs/serialize.html" title="Permalink to .serialize()" rel="bookmark">.serialize()</a> - <span>Encode a set of form elements as a string for submission.</span></div>


		<div><a href="/docs/serializeArray.html" title="Permalink to .serializeArray()" rel="bookmark">.serializeArray()</a> - <span>Encode a set of form elements as an array of names and values.</span></div>


		<div><a href="/docs/show.html" title="Permalink to .show()" rel="bookmark">.show()</a> - <span>Display the matched elements.</span></div>


		<div><a href="/docs/siblings.html" title="Permalink to .siblings()" rel="bookmark">.siblings()</a> - <span>Get the siblings of each element in the set of matched elements, optionally filtered by a selector.</span></div>


		<div><a href="/docs/size.html" title="Permalink to .size()" rel="bookmark">.size()</a> - <span>Return the number of elements in the jQuery object.</span></div>


		<div><a href="/docs/slice.html" title="Permalink to .slice()" rel="bookmark">.slice()</a> - <span>Reduce the set of matched elements to a subset specified by a range of indices.</span></div>


		<div><a href="/docs/slideDown.html" title="Permalink to .slideDown()" rel="bookmark">.slideDown()</a> - <span>Display the matched elements with a sliding motion.</span></div>


		<div><a href="/docs/slideToggle.html" title="Permalink to .slideToggle()" rel="bookmark">.slideToggle()</a> - <span>Display or hide the matched elements with a sliding motion.</span></div>


		<div><a href="/docs/slideUp.html" title="Permalink to .slideUp()" rel="bookmark">.slideUp()</a> - <span>Hide the matched elements with a sliding motion.</span></div>


		<div><a href="/docs/stop.html" title="Permalink to .stop()" rel="bookmark">.stop()</a> - <span>Stop the currently-running animation on the matched elements.</span></div>


		<div><a href="/docs/submit.html" title="Permalink to .submit()" rel="bookmark">.submit()</a> - <span>Bind an event handler to the “submit” JavaScript event, or trigger that event on an element.</span></div>


		<div><a href="/docs/submit-selector.html" title="Permalink to :submit Selector" rel="bookmark">:submit Selector</a> - <span>Selects all elements of type submit.</span></div>


		<div><a href="/docs/target-selector.html" title="Permalink to :target Selector" rel="bookmark">:target Selector</a> - <span>Selects the target element indicated by the fragment identifier of the document’s URI.</span></div>


		<div><a href="/docs/text.html" title="Permalink to .text()" rel="bookmark">.text()</a> - <span>Get the combined text contents of each element in the set of matched elements, including their descendants, or set the text contents of the matched elements.</span></div>


		<div><a href="/docs/text-selector.html" title="Permalink to :text Selector" rel="bookmark">:text Selector</a> - <span>Selects all elements of type text.</span></div>


		<div><a href="/docs/toArray.html" title="Permalink to .toArray()" rel="bookmark">.toArray()</a> - <span>Retrieve all the elements contained in the jQuery set, as an array.</span></div>


		<div><a href="/docs/toggle.html" title="Permalink to .toggle()" rel="bookmark">.toggle()</a> - <span>Display or hide the matched elements.</span></div>


		<div><a href="/docs/toggle-event.html" title="Permalink to .toggle()" rel="bookmark">.toggle()</a> - <span>Bind two or more handlers to the matched elements, to be executed on alternate clicks.</span></div>


		<div><a href="/docs/toggleClass.html" title="Permalink to .toggleClass()" rel="bookmark">.toggleClass()</a> - <span>Add or remove one or more classes from each element in the set of matched elements, depending on either the class’s presence or the value of the switch argument.</span></div>


		<div><a href="/docs/trigger.html" title="Permalink to .trigger()" rel="bookmark">.trigger()</a> - <span>Execute all handlers and behaviors attached to the matched elements for the given event type.</span></div>


		<div><a href="/docs/triggerHandler.html" title="Permalink to .triggerHandler()" rel="bookmark">.triggerHandler()</a> - <span>Execute all handlers attached to an element for an event.</span></div>


		<div><a href="/docs/unbind.html" title="Permalink to .unbind()" rel="bookmark">.unbind()</a> - <span>Remove a previously-attached event handler from the elements.</span></div>


		<div><a href="/docs/undelegate.html" title="Permalink to .undelegate()" rel="bookmark">.undelegate()</a> - <span>Remove a handler from the event for all elements which match the current selector, based upon a specific set of root elements.</span></div>


		<div><a href="/docs/unload.html" title="Permalink to .unload()" rel="bookmark">.unload()</a> - <span>Bind an event handler to the “unload” JavaScript event.</span></div>


		<div><a href="/docs/unwrap.html" title="Permalink to .unwrap()" rel="bookmark">.unwrap()</a> - <span>Remove the parents of the set of matched elements from the DOM, leaving the matched elements in their place.</span></div>


		<div><a href="/docs/val.html" title="Permalink to .val()" rel="bookmark">.val()</a> - <span>Get the current value of the first element in the set of matched elements or set the value of every matched element.</span></div>


		<div><a href="/docs/visible-selector.html" title="Permalink to :visible Selector" rel="bookmark">:visible Selector</a> - <span>Selects all elements that are visible.</span></div>


		<div><a href="/docs/width.html" title="Permalink to .width()" rel="bookmark">.width()</a> - <span>Get the current computed width for the first element in the set of matched elements or set the width of every matched element.</span></div>


		<div><a href="/docs/wrap.html" title="Permalink to .wrap()" rel="bookmark">.wrap()</a> - <span>Wrap an HTML structure around each element in the set of matched elements.</span></div>


		<div><a href="/docs/wrapAll.html" title="Permalink to .wrapAll()" rel="bookmark">.wrapAll()</a> - <span>Wrap an HTML structure around all elements in the set of matched elements.</span></div>


		<div><a href="/docs/wrapInner.html" title="Permalink to .wrapInner()" rel="bookmark">.wrapInner()</a> - <span>Wrap an HTML structure around the content of each element in the set of matched elements.</span></div>

	</section>
</div>
