<div><a href="/docs/before.html" title="Permalink to .before()" rel="bookmark">.before()</a> - <span>Insert content, specified by the parameter, before each element in the set of matched elements.</span></div>
<div><a href="/docs/bind.html" title="Permalink to .bind()" rel="bookmark">.bind()</a> - <span>Attach a handler to an event for the elements.</span></div>
<div><a href="/docs/blur.html" title="Permalink to .blur()" rel="bookmark">.blur()</a> - <span>Bind an event handler to the “blur” JavaScript event, or trigger that event on an element.</span></div>
<div><a href="/docs/button-selector.html" title="Permalink to :button Selector" rel="bookmark">:button Selector</a> - <span>Selects all button elements and elements of type button.</span></div>
